# Numpy

#### 1. Import the numpy package under the name `np` (★☆☆) 
(**hint**: import … as …)

In [1]:
import numpy as np
from numpy.lib import stride_tricks

#### 2. Print the numpy version and the configuration (★☆☆) 
(**hint**: np.\_\_version\_\_, np.show\_config)

In [ ]:
print(np.__version__)
print(np.show_config)

1.21.6
<function show at 0x7f5c823073b0>

#### 3. Create a null vector of size 10 (★☆☆) 
(**hint**: np.zeros)

In [ ]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### 4.  How to find the memory size of any array (★☆☆) 
(**hint**: size, itemsize)

In [ ]:
A = np.random.randint(3,10,size =(3,3))
print(A)
print(np.size(A))
print(A.itemsize)

[[9 6 8]
 [5 7 6]
 [8 3 4]]
9
8

#### 5.  How to get the documentation of the numpy add function from the command line? (★☆☆) 
(**hint**: np.info)

In [ ]:
np.info(np.add)

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

#### 6.  Create a null vector of size 10 but the fifth value which is 1 (★☆☆) 
(**hint**: array\[4\])

In [ ]:
B = np.zeros(10)
B[5] = 1 
print(B)

[0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]

#### 7.  Create a vector with values ranging from 10 to 49 (★☆☆) 
(**hint**: np.arange)

In [ ]:
np.arange(10,50)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

#### 8.  Reverse a vector (first element becomes last) (★☆☆) 
(**hint**: array\[::-1\])

In [ ]:
C = np.random.randint(3,70 ,size = (1,10))
print(C)
print('Reversed :',C[0][::-1])

[[12 32 66 35  7 36  5 26 51 60]]
Reversed : [60 51 26  5 36  7 35 66 32 12]

#### 9.  Create a 3x3 matrix with values ranging from 0 to 8 (★☆☆) 
(**hint**: reshape)

In [ ]:
np.random.randint(0,8,size = (3,3))

array([[2, 4, 2],
       [4, 1, 4],
       [1, 5, 4]])

#### 10. Find indices of non-zero elements from \[1,2,0,0,4,0\] (★☆☆) 
(**hint**: np.nonzero)

In [ ]:
D = np.array([1,2,0,0,4,0])
np.argwhere(D>0).flatten()

array([0, 1, 4])

#### 11. Create a 3x3 identity matrix (★☆☆) 
(**hint**: np.eye)

In [76]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### 12. Create a 3x3x3 array with random values (★☆☆) 
(**hint**: np.random.random)

In [75]:
np.random.randint(10, size = (3,3,3))

array([[[6, 6, 1],
        [5, 8, 3],
        [9, 7, 6]],

       [[2, 3, 8],
        [8, 0, 2],
        [7, 0, 4]],

       [[1, 0, 7],
        [7, 4, 7],
        [6, 3, 2]]])

#### 13. Create a 10x10 array with random values and find the minimum and maximum values (★☆☆) 
(**hint**: min, max)

In [ ]:
E = np.random.randn(10,10)
print('Minimum value in each row of matrix :\n',E.min(axis = 0))
print('Maximum value in each column of matrix :\n',E.max(axis =1))

Minimum value in each row of matrix :
 [-1.21892832 -1.49031823 -0.83768347 -0.82668865 -2.24748569 -1.28160968
 -1.7503371  -2.122711   -0.61939355 -1.13886138]
Maximum value in each column of matrix :
 [0.52205554 1.86565233 1.03475438 0.68056104 2.03091428 2.65948454
 2.02648941 0.54222638 0.95993198 1.22532225]

#### 14. Create a random vector of size 30 and find the mean value (★☆☆) 
(**hint**: mean)

In [ ]:
A = np.random.randint(100,size=(1,30))
print(A)
print(A.mean())

[[48 78 27 80 58 99 74 76 13 79 12 23 80  6  7 90 38 27 38 13 16 48  2 40
  30 34 69 45 87 55]]
46.4

#### 15. Create a 2d array with 1 on the border and 0 inside (★☆☆) 
(**hint**: array\[1:-1, 1:-1\])

In [ ]:
def pad_with(vector, pad_width, iaxis, kwargs):

    pad_value = kwargs.get('padder', 10)
    vector[:pad_width[0]] = pad_value
    vector[-pad_width[1]:] = pad_value
np.pad(np.zeros((2,2)), 1, pad_with, padder=1)

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

#### 16. How to add a border (filled with 0's) around an existing array? (★☆☆) 
(**hint**: np.pad)

In [ ]:
array = np.random.randint(0,50, size = (3,3))
np.pad(array, 1, pad_with, padder=0)

array([[ 0,  0,  0,  0,  0],
       [ 0,  1, 38, 14,  0],
       [ 0, 17, 26,  0,  0],
       [ 0, 35, 24, 21,  0],
       [ 0,  0,  0,  0,  0]])

#### 17. What is the result of the following expression? (★☆☆) 
(**hint**: NaN = not a number, inf = infinity)

```python
0 * np.nan
np.nan == np.nan
np.inf > np.nan
np.nan - np.nan
0.3 == 3 * 0.1
```

In [ ]:
0 * np.nan,np.nan == np.nan,np.inf > np.nan,np.nan - np.nan,0.3 == 3 * 0.1

(nan, False, False, nan, False)

#### 18. Create a 5x5 matrix with values 1,2,3,4 just below the diagonal (★☆☆) 
(**hint**: np.diag)

In [ ]:
A = np.random.choice([1,2,3,4],size = (5,5))
print(A)
np.tril(A, k=0)

[[2 4 3 2 4]
 [3 1 1 4 2]
 [4 2 2 3 4]
 [2 1 4 4 3]
 [3 2 2 3 1]]

array([[2, 0, 0, 0, 0],
       [3, 1, 0, 0, 0],
       [4, 2, 2, 0, 0],
       [2, 1, 4, 4, 0],
       [3, 2, 2, 3, 1]])

#### 19. Create a 8x8 matrix and fill it with a checkerboard pattern (★☆☆) 
(**hint**: array\[::2\])

In [77]:
Z = np.zeros((8,8),dtype=int)
Z[1::2,::2] = 1
Z[::2,1::2] = 1
print(Z)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

#### 20. Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element? 
(**hint**: np.unravel_index)

In [ ]:
#array = np.random.randint(0,101, size = (6,7,8))
np.unravel_index(100,shape =(6,7,8))

(1, 5, 4)

#### 21. Create a checkerboard 8x8 matrix using the tile function (★☆☆) 
(**hint**: np.tile)

In [ ]:
array =[ [1,0],[0,1]]
np.tile(array, (4, 4))

array([[1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1]])

#### 22. Normalize a 5x5 random matrix (★☆☆) 
(**hint**: (x - min) / (max - min))

In [ ]:
array = np.random.randint(0,101,size=(5,5))
print(array)
(array -array.min())/(array.max()- array.min())

[[ 37  87  20   6  30]
 [ 55  96  96  34  58]
 [ 37  33  37  55  69]
 [ 90  54  75  49 100]
 [ 22  16  31  36 100]]

array([[0.32978723, 0.86170213, 0.14893617, 0.        , 0.25531915],
       [0.5212766 , 0.95744681, 0.95744681, 0.29787234, 0.55319149],
       [0.32978723, 0.28723404, 0.32978723, 0.5212766 , 0.67021277],
       [0.89361702, 0.5106383 , 0.73404255, 0.45744681, 1.        ],
       [0.17021277, 0.10638298, 0.26595745, 0.31914894, 1.        ]])

#### 23. Create a custom dtype that describes a color as four unsigned bytes (RGBA) (★☆☆) 
(**hint**: np.dtype)

In [79]:
color = np.dtype([("r", np.ubyte),
                  ("g", np.ubyte),
                  ("b", np.ubyte),
                  ("a", np.ubyte)])

#### 24. Multiply a 5x3 matrix by a 3x2 matrix (real matrix product) (★☆☆) 
(**hint**: np.dot | @)

In [ ]:
a= np.random.randint(1,10, size=(5,3))
b= np.random.randint(1,10, size=(3,2))
a.dot(b)

array([[88, 57],
       [76, 50],
       [33, 21],
       [66, 17],
       [53, 40]])

#### 25. Given a 1D array, negate all elements which are between 3 and 8, in place. (★☆☆) 
(**hint**: >, <=)

In [ ]:
array = np.random.randint(1,10, size=(1,13))
b = np.where((array>3) & (array>8), array, -array)
print(array)
print(b)

[[7 7 9 2 2 6 5 8 2 1 3 2 9]]
[[-7 -7  9 -2 -2 -6 -5 -8 -2 -1 -3 -2  9]]

#### 26. What is the output of the following script? (★☆☆) 
(**hint**: np.sum)

```python
# Author: Jake VanderPlas

print(sum(range(5),-1))
from numpy import *
print(sum(range(5),-1))
```

In [ ]:
print(sum(range(5),-1))
from numpy import *
print(sum(range(5),-1))

9
10

#### 27. Consider an integer vector Z, which of these expressions are legal? (★☆☆)

```python
Z**Z
2 << Z >> 2
Z <- Z
1j*Z
Z/1/1
Z<Z>Z
```

In [ ]:
Z = np.random.randint(0,101, size=(1,10))
print(Z)
print(Z**Z) 
print(2 << Z >> 2) # Bitwise operation : << left shift; >> right shift
print(Z <- Z)
print(1j*Z)
print(Z/1/1)
print("illegal operation : 'Z<Z>Z' ")

[[27  4 11 81 17 85 79 16 83 31]]
[[-5278486589563110205                  256         285311670611
  -3264474685660004015 -2863221430593058543  3792227444683241861
   1483551237918615471                    0  2536461848307888459
  -4642015662142636065]]
[[  67108864          8       1024          0      65536          0
           0      32768          0 1073741824]]
[[False False False False False False False False False False]]
[[0.+27.j 0. +4.j 0.+11.j 0.+81.j 0.+17.j 0.+85.j 0.+79.j 0.+16.j 0.+83.j
  0.+31.j]]
[[27.  4. 11. 81. 17. 85. 79. 16. 83. 31.]]
illegal operation : 'Z<Z>Z'

#### 28. What are the result of the following expressions?

```python
np.array(0) / np.array(0)
np.array(0) // np.array(0)
np.array([np.nan]).astype(int).astype(float)
```

In [ ]:
print(np.array(0) / np.array(0) )
print(np.array(0) // np.array(0) )
print(np.array([np.nan]).astype(int).astype(float) )

nan
0
[-9.22337204e+18]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in floor_divide

#### 29. How to round away from zero a float array ? (★☆☆) 
(**hint**: np.uniform, np.copysign, np.ceil, np.abs)

In [ ]:
print(np.abs(-99.7))
print(np.ceil(99.7))
print(np.floor(99.7))

99.7
100.0
99.0

#### 30. How to find common values between two arrays? (★☆☆) 
(**hint**: np.intersect1d)

In [ ]:
A = np.random.randint(0,21, size=(1,10))
B = np.random.randint(0,11, size=(1,10))
print(A,B)
print(np.intersect1d(A,B))

[[13 10 18  8 14  8  0  2  7 19]] [[10  4  7  0  9  5  6  1  0  2]]
[ 0  2  7 10]

#### 31. How to ignore all numpy warnings (not recommended)? (★☆☆) 
(**hint**: np.seterr, np.errstate)

In [ ]:
# Division by zero 
np.seterr(all = 'warn')
with np.errstate(divide ='print') :
    print(np.array(0) / np.array(0))

nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [ ]:

with np.errstate(divide ='ignore') :
    print(5 / np.array(0))

inf

In [ ]:
5/np.array(0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

inf

#### 32. Is the following expressions true? (★☆☆) 
(**hint**: imaginary number)

```python
np.sqrt(-1) == np.emath.sqrt(-1)
```

In [ ]:
print(np.sqrt(-1) == np.emath.sqrt(-1))

False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in sqrt
  """Entry point for launching an IPython kernel.

#### 33. How to get the dates of yesterday, today and tomorrow? (★☆☆) 
(**hint**: np.datetime64, np.timedelta64)

In [ ]:
from datetime import datetime
today =datetime.today()
np_yst = np.datetime64(today) - np.timedelta64(1, 'D') 
np_today = np.datetime64(today)
np_tm = np.datetime64(today) +np.timedelta64(1, 'D')
print("Yesterday date:",np_today)
print("Today's date:",np_today)
print("Tomorrow's date:", np_today)

Yesterday date: 2022-09-16T11:21:20.063430
Today's date: 2022-09-16T11:21:20.063430
Tomorrow's date: 2022-09-16T11:21:20.063430

#### 34. How to get all the dates corresponding to the month of July 2016? (★★☆) 
(**hint**: np.arange(dtype=datetime64\['D'\]))

In [ ]:
np.arange(np.datetime64('2016-07-01'),np.datetime64('2016-08-01'))

array(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
       '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
       '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12',
       '2016-07-13', '2016-07-14', '2016-07-15', '2016-07-16',
       '2016-07-17', '2016-07-18', '2016-07-19', '2016-07-20',
       '2016-07-21', '2016-07-22', '2016-07-23', '2016-07-24',
       '2016-07-25', '2016-07-26', '2016-07-27', '2016-07-28',
       '2016-07-29', '2016-07-30', '2016-07-31'], dtype='datetime64[D]')

#### 35. How to compute ((A+B)\*(-A/2)) in place (without copy)? (★★☆) 
(**hint**: np.add(out=), np.negative(out=), np.multiply(out=), np.divide(out=))

In [ ]:
A =19
B =24
np.multiply(np.add(A,B),np.divide(-A,2))

-408.5

#### 36. Extract the integer part of a random array using 5 different methods (★★☆) 
(**hint**: %, np.floor, np.ceil, astype, np.trunc)

In [ ]:
array = np.random.random(size=(1,10))*100
print(array)
print(array//1)
print(np.floor(array))
print(array.astype('int'))
print(np.ceil(array))
print(np.trunc(array))

[[63.20302273 87.49243153 28.76100594 16.38951927 47.64242333 59.5742273
  34.88901207 38.74701473 40.1313394  14.71506541]]
[[63. 87. 28. 16. 47. 59. 34. 38. 40. 14.]]
[[63. 87. 28. 16. 47. 59. 34. 38. 40. 14.]]
[[63 87 28 16 47 59 34 38 40 14]]
[[64. 88. 29. 17. 48. 60. 35. 39. 41. 15.]]
[[63. 87. 28. 16. 47. 59. 34. 38. 40. 14.]]

#### 37. Create a 5x5 matrix with row values ranging from 0 to 4 (★★☆) 
(**hint**: np.arange)

In [ ]:
np.random.randint(0,5,size=(5,5))

array([[2, 4, 2, 1, 2],
       [3, 1, 2, 2, 2],
       [2, 1, 1, 1, 4],
       [1, 1, 1, 3, 3],
       [4, 4, 0, 1, 0]])

#### 38. Consider a generator function that generates 10 integers and use it to build an array (★☆☆) 
(**hint**: np.fromiter)

In [ ]:
iterator = [i for i in range(0,11)]
np.fromiter(iterator,dtype = int)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

#### 39. Create a vector of size 10 with values ranging from 0 to 1, both excluded (★★☆) 
(**hint**: np.linspace)

In [ ]:
np.random.random(10)

array([0.68807449, 0.28159328, 0.6285564 , 0.82650647, 0.84704618,
       0.21013907, 0.23960275, 0.85766044, 0.03183557, 0.25749203])

#### 40. Create a random vector of size 10 and sort it (★★☆) 
(**hint**: sort)

In [ ]:
array = np.random.randint(100, size=(1,10))
print(array)
print(np.sort(array))

[[ 5 34 94 23 52 44 47 22 47  7]]
[[ 5  7 22 23 34 44 47 47 52 94]]

#### 41. How to sum a small array faster than np.sum? (★★☆) 
(**hint**: np.add.reduce)

In [ ]:
array = np.random.randint(100, size=(1,10))

import time

start = time.time()
print(np.add.reduce(array,axis =1))
end = time.time()
print(end - start)

[420]
0.0003647804260253906

In [ ]:
start = time.time()
print(np.sum(array,axis =1))
end = time.time()
print(end - start)

[420]
0.00043392181396484375

*italicized text*#### 42. Consider two random array A and B, check if they are equal (★★☆) 
(**hint**: np.allclose, np.array\_equal)

In [ ]:
A = np.random.randint(0,2,5)
B = np.random.randint(0,2,5)
print(np.allclose(A,B))
print(np.array_equal(A,B))

False
False

#### 43. Make an array immutable (read-only) (★★☆) 
(**hint**: flags.writeable)

In [ ]:
A = np.random.randint(0,2,5)
print('Array :',A)
# Turn flags.writable method on array equal to False , to turn it immutable
A.flags.writeable = False
A[0] =9

Array : [1 0 1 0 1]

ValueError: ignored

#### 44. Consider a random 10x2 matrix representing cartesian coordinates, convert them to polar coordinates (★★☆) 
(**hint**: np.sqrt, np.arctan2)

In [ ]:
coord = np.random.randint(100, size = (10,2))
rad = np.sqrt(coord[:,0]**2 + coord[:,1]**2)
theta = np.arctan2(coord[:,0],coord[:,1])
pol_coord = list(zip(rad,theta))

In [ ]:
pol_coord

[(74.94664769020693, 1.0235119458074597),
 (99.32270636667126, 0.08063287594517382),
 (97.082439194738, 1.1347914444368148),
 (131.52946437965906, 0.7961504371885495),
 (127.91403363196706, 0.6857295109062863),
 (112.76967677527502, 1.0714496051147666),
 (97.082439194738, 1.1347914444368148),
 (66.007575322837, 1.555645970920127),
 (110.9414259868693, 0.9777937649133708),
 (89.87213138676528, 0.9673628493566343)]

#### 45. Create random vector of size 10 and replace the maximum value by 0 (★★☆) 
(**hint**: argmax)

In [ ]:
array = np.random.randint(100, size = (1,10))
print(array)
array[0,array.argmax()] = 0 
print(array)

[[63 70 17 82 66 12  7 95 98 52]]
[[63 70 17 82 66 12  7 95  0 52]]

In [ ]:
array[0,9]

52

#### 46. Create a structured array with `x` and `y` coordinates covering the \[0,1\]x\[0,1\] area (★★☆) 
(**hint**: np.meshgrid)

In [ ]:
z = zeros((4,4),dtype=[('x', 'float'), ('y', 'float')])
z['x'],z['y']= np.meshgrid(np.linspace(0,1,4), np.linspace(0,1,4))
print(z)

[[(0.        , 0.        ) (0.33333333, 0.        )
  (0.66666667, 0.        ) (1.        , 0.        )]
 [(0.        , 0.33333333) (0.33333333, 0.33333333)
  (0.66666667, 0.33333333) (1.        , 0.33333333)]
 [(0.        , 0.66666667) (0.33333333, 0.66666667)
  (0.66666667, 0.66666667) (1.        , 0.66666667)]
 [(0.        , 1.        ) (0.33333333, 1.        )
  (0.66666667, 1.        ) (1.        , 1.        )]]

####  47. Given two arrays, X and Y, construct the Cauchy matrix C (Cij =1/(xi - yj)) 
(**hint**: np.subtract.outer)

In [ ]:
x1 = np.arange(9.0).reshape((3, 3))
x2 = np.arange(3.0)
print(x1,x2)
np.subtract(x1, x2)

[[0. 1. 2.]
 [3. 4. 5.]
 [6. 7. 8.]] [0. 1. 2.]

array([[0., 0., 0.],
       [3., 3., 3.],
       [6., 6., 6.]])

In [ ]:
array1 = np.arange(1,8)
array2 = array1  +  0.4
print(array1,array2)
# numpy.ufunc.outer : https://numpy.org/doc/stable/reference/generated/numpy.ufunc.outer.html
## Apply the ufunc op to all pairs (a, b) with a in A and b in B.
C_matrix = 1.0 / np.subtract.outer(array1, array2)
print('Cauchy Matrix:\n',C_matrix)
print('Cauchy squared Matrix determinant :\n',np.linalg.det(C_matrix))

[1 2 3 4 5 6 7] [1.4 2.4 3.4 4.4 5.4 6.4 7.4]
Cauchy Matrix:
 [[-2.5        -0.71428571 -0.41666667 -0.29411765 -0.22727273 -0.18518519
  -0.15625   ]
 [ 1.66666667 -2.5        -0.71428571 -0.41666667 -0.29411765 -0.22727273
  -0.18518519]
 [ 0.625       1.66666667 -2.5        -0.71428571 -0.41666667 -0.29411765
  -0.22727273]
 [ 0.38461538  0.625       1.66666667 -2.5        -0.71428571 -0.41666667
  -0.29411765]
 [ 0.27777778  0.38461538  0.625       1.66666667 -2.5        -0.71428571
  -0.41666667]
 [ 0.2173913   0.27777778  0.38461538  0.625       1.66666667 -2.5
  -0.71428571]
 [ 0.17857143  0.2173913   0.27777778  0.38461538  0.625       1.66666667
  -2.5       ]]
Cauchy squared Matrix determinant :
 -2400.5729448147476

#### 48. Print the minimum and maximum representable value for each numpy scalar type (★★☆) 
(**hint**: np.iinfo, np.finfo, eps)

In [ ]:
# Integer datatype in numpy : https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.integer
# float datatype in nump y : https://numpy.org/doc/stable/reference/arrays.scalars.html#numpy.floating

for dtype in [np.int8, np.int16, np.int32, np.int64]:
   print(np.iinfo(dtype).min)
   print(np.iinfo(dtype).max)
for dtype in [np.float16,np.float32, np.float64]:
   print(np.finfo(dtype).min)
   print(np.finfo(dtype).max)
   print(np.finfo(dtype).eps)

-128
127
-32768
32767
-2147483648
2147483647
-9223372036854775808
9223372036854775807
-65500.0
65500.0
0.000977
-3.4028235e+38
3.4028235e+38
1.1920929e-07
-1.7976931348623157e+308
1.7976931348623157e+308
2.220446049250313e-16

#### 49. How to print all the values of an array? (★★☆) 
(**hint**: np.set\_printoptions)

In [ ]:
np.set_printoptions(precision =4)
array = np.random.randn(10)
print(array)

[ 0.7937 -0.6458  0.3892  0.1462 -0.987   0.8994 -0.9606  1.2927 -0.4298
 -1.0074]

#### 50. How to find the closest value (to a given scalar) in a vector? (★★☆) 
(**hint**: argmin)

In [ ]:
array = np.random.random(10)
array_2 = np.random.randint(100, size = (2,10))
print(array)
print(np.argmin(array))
print(array_2)
np.argmin(array_2, axis = 1)

[0.5561 0.2386 0.5623 0.7202 0.398  0.2029 0.8771 0.0278 0.7853 0.3274]
7
[[12 86 70 24 43 26  7 35  1 45]
 [95 28 76 93 78 91 88 31 88 15]]

array([8, 9])

#### 51. Create a structured array representing a position (x,y) and a color (r,g,b) (★★☆) 
(**hint**: dtype)

In [81]:
mat = np.zeros(10, [ ('position', [ ('x', float, 1),
                                  ('y', float, 1)]),
                   ('color',    [ ('r', float, 1),
                                  ('g', float, 1),
                                  ('b', float, 1)])])
print(mat)

[((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))
 ((0., 0.), (0., 0., 0.)) ((0., 0.), (0., 0., 0.))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  """

#### 52. Consider a random vector with shape (100,2) representing coordinates, find point by point distances (★★☆) 
(**hint**: np.atleast\_2d, T, np.sqrt)

In [ ]:
array = np.random.randn(100,2)
Xval,Yval= np.atleast_2d(array[:,0],array[:,1])
point_dist = np.sqrt( (Xval-Xval.T)**2 + (Yval-Yval.T)**2 )

In [ ]:
point_dist

array([[0.    , 3.1766, 1.3471, ..., 4.3971, 2.1331, 4.139 ],
       [3.1766, 0.    , 2.9862, ..., 3.518 , 2.2648, 2.583 ],
       [1.3471, 2.9862, 0.    , ..., 3.1354, 1.0585, 3.0633],
       ...,
       [4.3971, 3.518 , 3.1354, ..., 0.    , 2.2944, 1.0562],
       [2.1331, 2.2648, 1.0585, ..., 2.2944, 0.    , 2.0368],
       [4.139 , 2.583 , 3.0633, ..., 1.0562, 2.0368, 0.    ]])

#### 53. How to convert a float (32 bits) array into an integer (32 bits) in place? 
(**hint**: astype(copy=False))

In [ ]:
x = np.random.randn(5,5).astype(np.float32)
print(x)
x.astype(np.int32, copy =False)

[[-0.4489  0.1466  0.3163  0.8161  0.0582]
 [ 0.9209  0.7153 -0.3195 -1.1889  0.2025]
 [-0.4243  0.8151  0.9938 -0.8012  1.7549]
 [ 0.2792 -1.2176 -0.5879  1.0945 -1.4284]
 [-0.3395 -0.0776 -0.2018  0.767   0.0545]]

array([[ 0,  0,  0,  0,  0],
       [ 0,  0,  0, -1,  0],
       [ 0,  0,  0,  0,  1],
       [ 0, -1,  0,  1, -1],
       [ 0,  0,  0,  0,  0]], dtype=int32)

#### 54. How to read the following file? (★★☆) 
(**hint**: np.genfromtxt)

```
1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9,10,11
```

In [ ]:
from io import StringIO
string="""1, 2, 3, 4, 5
6,  ,  , 7, 8
 ,  , 9,10,11"""
file = StringIO(string)
np.genfromtxt(file, delimiter=",",dtype = np.int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

array([[ 1,  2,  3,  4,  5],
       [ 6, -1, -1,  7,  8],
       [-1, -1,  9, 10, 11]])

#### 55. What is the equivalent of enumerate for numpy arrays? (★★☆) 
(**hint**: np.ndenumerate, np.ndindex)

In [ ]:
# with np.ndenumerate
mat = np.arange(9).reshape(3,3)
for index,value in np.ndenumerate(mat):
    print(index,value)
# with np.ndindex    
for index in np.ndindex(mat.shape):
    print(index,mat[index])

(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8
(0, 0) 0
(0, 1) 1
(0, 2) 2
(1, 0) 3
(1, 1) 4
(1, 2) 5
(2, 0) 6
(2, 1) 7
(2, 2) 8

#### 56. Generate a generic 2D Gaussian-like array (★★☆) 
(**hint**: np.meshgrid, np.exp)

In [ ]:
X,Y =np.meshgrid(np.random.randn(5),np.random.randn(5))
D= np.sqrt(X*X + Y*Y)
print("Matrix :",D)
sigma,mu = 1,0
Norm_D = (1/(sigma*np.sqrt(2*sigma)))*np.exp( -0.5*(D- mu/sigma)**2)
print("Normalised Matrix : ",Norm_D)

Matrix : [[0.6124 1.2699 0.6511 0.8582 1.48  ]
 [0.6826 1.3053 0.7176 0.9097 1.5104]
 [2.0975 2.3743 2.1092 2.182  2.493 ]
 [1.0898 1.5573 1.112  1.2447 1.7329]
 [0.7968 1.3685 0.827  0.9983 1.5653]]
Normalised Matrix :  [[0.5862 0.3157 0.572  0.4893 0.2365]
 [0.5601 0.3017 0.5466 0.4675 0.226 ]
 [0.0784 0.0422 0.0765 0.0654 0.0316]
 [0.3905 0.2103 0.381  0.3259 0.1575]
 [0.5148 0.2772 0.5023 0.4296 0.2077]]

#### 57. How to randomly place p elements in a 2D array? (★★☆) 
(**hint**: np.put, np.random.choice)

In [ ]:
size = 5
num_times = 3
matx = np.zeros((size,size))
np.put(matx,np.random.choice(np.arange(size*size),num_times,replace = False),101)
print(matx)

[[  0.   0.   0.   0.   0.]
 [  0.   0.   0. 101.   0.]
 [  0. 101.   0.   0.   0.]
 [  0.   0.   0.   0. 101.]
 [  0.   0.   0.   0.   0.]]

In [ ]:
#Generate a uniform random sample from np.arange(5) of size 3 without replacement:
print(np.random.choice(5, 3, replace=False))
#This is equivalent to np.random.permutation(np.arange(5))[:3]
print(np.random.permutation(np.arange(5))[:3])

[3 2 1]
[1 0 3]

In [ ]:
xal =np.arange(25)
np.random.choice(xal,3,replace = False)

array([ 0, 21, 19])

#### 58. Subtract the mean of each row of a matrix (★★☆) 
(**hint**: mean(axis=,keepdims=))

In [ ]:
A = np.random.random((5,4))
A- A.mean(axis =1 ,keepdims =True)

array([[ 0.0531,  0.0477,  0.2236, -0.3244],
       [-0.1815,  0.4963, -0.354 ,  0.0392],
       [ 0.374 , -0.3139,  0.2982, -0.3583],
       [ 0.3161,  0.0781,  0.0665, -0.4607],
       [ 0.2736, -0.1182,  0.0498, -0.2052]])

#### 59. How to sort an array by the nth column? (★★☆) 
(**hint**: argsort)

In [ ]:
names = [_ for _ in 'abcde']
A = np.random.randint(100, size = (5,5))
print(A)
print(np.argsort(A[:,1],axis = 0))
A[np.argsort(A[:,1],axis = 0)]

[[95 90 34 20 70]
 [50 25  1 80 98]
 [17 82 88 64 44]
 [59 49 91  9 68]
 [20 43  0 31 76]]
[1 4 3 2 0]

array([[50, 25,  1, 80, 98],
       [20, 43,  0, 31, 76],
       [59, 49, 91,  9, 68],
       [17, 82, 88, 64, 44],
       [95, 90, 34, 20, 70]])

#### 60. How to tell if a given 2D array has null columns? (★★☆) 
(**hint**: any, ~)

In [ ]:
# Not a Number (NaN), positive infinity and negative infinity evaluate to True because these are not equal to zero.
A = np.random.random((5,5))
print('A:\n',A)
mask = np.random.randint(0,2, size = (5,5))
A[mask==1] = np.NaN
print("masked_A:\n",A)
print('Do the masked_A matrix contains null values :',np.any(A, axis = None))

A:
 [[0.614  0.8447 0.5742 0.5288 0.398 ]
 [0.9256 0.8343 0.5723 0.8126 0.9777]
 [0.399  0.7047 0.3553 0.0225 0.2253]
 [0.5548 0.9355 0.5486 0.182  0.3658]
 [0.5976 0.3224 0.119  0.8222 0.6865]]
masked_A:
 [[0.614  0.8447 0.5742 0.5288 0.398 ]
 [   nan 0.8343    nan 0.8126    nan]
 [0.399     nan    nan    nan 0.2253]
 [0.5548    nan 0.5486 0.182     nan]
 [   nan 0.3224 0.119     nan    nan]]
Do the masked_A matrix contains null values : True

In [ ]:
data = np.zeros((4,3))
#mask = np.random.random_integers(0,1,(4,3))
#data[mask==0] = np.NaN
print(data.any(axis = None))

False

#### 61. Find the nearest value from a given value in an array (★★☆) 
(**hint**: np.abs, argmin, flat)

In [ ]:
A = np.random.rand(10)
a = 0.3
index =np.abs(A-a).argmin(axis = 0)
A.flat[index]

0.34039631987564567

#### 62. Considering two arrays with shape (1,3) and (3,1), how to compute their sum using an iterator? (★★☆) 
(**hint**: np.nditer)

In [ ]:
#https://numpy.org/doc/stable/reference/arrays.nditer.html#arrays-nditer
def add_num(A,B):

    with np.nditer([A,B, None]) as it:
        for x, y,z in it: z[...] = x+y

        return it.operands[2]
A = np.arange(3).reshape(3,1)
B = np.arange(3).reshape(1,3)
add_num(A,B)

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4]])

#### 63. Create an array class that has a name attribute (★★☆) 
(**hint**: class method)

In [3]:
class NamedArray(np.ndarray):
    def __new__(cls, array, name="no name"):
        obj = np.asarray(array).view(cls)
        obj.name = name
        return obj
    def __array_finalize__(self, obj):
        if obj is None: return
        self.info = getattr(obj, 'name', "no name")
Z = NamedArray(np.arange(10), "range_10")
print (Z.name)

range_10

In [5]:
Z.info

'no name'

#### 64. Consider a given vector, how to add 1 to each element indexed by a second vector (be careful with repeated indices)? (★★★) 
(**hint**: np.bincount | np.add.at)

In [17]:
Z = np.ones(10)
I = np.random.randint(0,len(Z),30)
#print(I)
#print(np.bincount(I))
#Z += np.bincount(I, minlength=len(Z))
#print(Z)

# np.add.at :
#url: https://numpy.org/doc/stable/reference/generated/numpy.ufunc.at.html
np.add.at(Z, I, 1)
print(Z)

[5. 6. 4. 6. 4. 4. 2. 3. 3. 3.]

#### 65. How to accumulate elements of a vector (X) to an array (F) based on an index list (I)? (★★★) 
(**hint**: np.bincount)

In [19]:
# Example
##1D array with +ve integers
array2 = [10, 11, 4, 6, 2, 1, 9]
array1 = [1, 3, 1, 3, 1, 2, 2]
  
# array2 : weight
bin =np.bincount(array1, array2)
print("Summation element-wise : \n", bin)
  
#index 0 : 0
#index 1 : 10 + 4 + 2 = 16
#index 2 : 1 + 9 = 10
#index 3 : 11 + 6 = 17

X = [1,2,3,4,5,6] # vector
I = [1,3,9,3,4,1] # index
F = np.bincount(I,X)
print(F)
# index 1 : 1+6 =7
# index 3 : 2+4 =6
# index 4 : 5
# index 9 : 3

Summation element-wise :
 [ 0. 16. 10. 17.]
[0. 7. 0. 6. 5. 0. 0. 0. 0. 3.]


#### 66. Considering a (w,h,3) image of (dtype=ubyte), compute the number of unique colors (★★★) 
(**hint**: np.unique)

In [21]:
w, h = 256, 256
I = np.random.randint(0, 4, (h, w, 3)).astype(np.int8)
colors = np.unique(I.reshape(-1, 3), axis=0)
n = len(colors)
print(n)
"""
w, h = 256, 256
I = np.random.randint(0,4,(h,w,3), dtype=np.uint8)

# View each pixel as a single 24-bit integer, rather than three 8-bit bytes
I24 = np.dot(I.astype(np.uint32),[1,256,65536])

# Count unique colours
n = len(np.unique(I24))
print(n)
"""

64

'\nw, h = 256, 256\nI = np.random.randint(0,4,(h,w,3), dtype=np.uint8)\n\n# View each pixel as a single 24-bit integer, rather than three 8-bit bytes\nI24 = np.dot(I.astype(np.uint32),[1,256,65536])\n\n# Count unique colours\nn = len(np.unique(I24))\nprint(n)\n'

#### 67. Considering a four dimensions array, how to get sum over the last two axis at once? (★★★) 
(**hint**: sum(axis=(-2,-1)))

In [33]:
# Method 1 
A = np.random.randint(0, 10, (5, 5, 3,4))
print(A.sum(axis =(-2,-1)) )

# solution by flattening the last two dimensions into one
# (useful for functions that don't accept tuples for axis argument)
sum = A.reshape(A.shape[:-2] + (-1,)).sum(axis=-1) # the unspecified value(-1) is inferred to be 12
print(sum) # summing over the last axis i.e axis =-1

[[64 49 58 47 71]
 [60 50 27 55 59]
 [58 46 48 51 60]
 [56 72 44 51 46]
 [56 52 55 50 41]]
[[64 49 58 47 71]
 [60 50 27 55 59]
 [58 46 48 51 60]
 [56 72 44 51 46]
 [56 52 55 50 41]]

In [42]:
a = np.array([[1,2,3], [4,5,6]])
np.reshape(a, (3,-1))       # the unspecified value is inferred to be 2

array([[1, 2],
       [3, 4],
       [5, 6]])

In [41]:
print(A.shape[:-2]+ (-1,))
A.reshape(A.shape[:-2] + (-1,)).shape    # the unspecified value(-1) is inferred to be 12

(5, 5, -1)

(5, 5, 12)

#### 68. Considering a one-dimensional vector D, how to compute means of subsets of D using a vector S of same size describing subset  indices? (★★★) 
(**hint**: np.bincount)

In [43]:
D = np.random.uniform(0,1,100)
S = np.random.randint(0,10,100) # low, high,size, say we want 10 substs of D each with index varying from low 0 to high(not included) 10
# Pandas solution as a reference due to more intuitive code
import pandas as pd
print(pd.Series(D).groupby(S).mean())

0    0.310355
1    0.515511
2    0.531257
3    0.422765
4    0.619774
5    0.508731
6    0.586290
7    0.718171
8    0.476072
9    0.374118
dtype: float64

#### 69. How to get the diagonal of a dot product? (★★★) 
(**hint**: np.diag)

In [58]:

A = np.random.uniform(0,1,(5,4))
B = np.random.uniform(0,1,(4,5))

# Slow version
print(np.diag(np.dot(A, B)) )

# Faster version
print(np.einsum("ij,ji->i", A, B))

[0.99296092 1.66577872 1.04027669 1.11025027 0.47848107]
[0.99296092 1.66577872 1.04027669 1.11025027 0.47848107]

# **numpy.einsum()**
Using the Einstein summation convention, many common multi-dimensional, linear algebraic array operations can be represented in a simple fashion.

In implicit mode, the chosen subscripts are important since the axes of the output are reordered alphabetically. This means that np.einsum('ij', a) doesn’t affect a 2D array, while np.einsum('ji', a) takes its transpose. Additionally, np.einsum('ij,jk', a, b) returns a matrix multiplication, while, np.einsum('ij,jh', a, b) returns the transpose of the multiplication since subscript ‘h’ precedes subscript ‘i’.

In explicit mode the output can be directly controlled by specifying output subscript labels. This requires the identifier ‘->’ as well as the list of output subscript labels. This feature increases the flexibility of the function since summing can be disabled or forced when required. The call np.einsum('i->', a) is like np.sum(a, axis=-1), and np.einsum('ii->i', a) is like np.diag(a). The difference is that einsum does not allow broadcasting by default. Additionally np.einsum('ij,jh->ih', a, b) directly specifies the order of the output subscript labels and therefore returns matrix multiplication, unlike the example above in implicit mode.

In [10]:
a = np.arange(25).reshape(5,5)
b = np.random.uniform(0,1,(5,5))
print(a)
#url : https://numpy.org/doc/stable/reference/generated/numpy.einsum.html?highlight=einsum#numpy.einsum
#Extract the diagonal (requires explicit form):
print(np.dot(a,b))
np.einsum('ij,ji->i', a,b)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
[[ 2.99020569  4.27760976  4.093774    3.13122398  5.20492745]
 [10.35996603 12.67367194 14.15766772 12.85099629 16.44142605]
 [17.72972637 21.06973413 24.22156143 22.5707686  27.67792465]
 [25.09948671 29.46579631 34.28545515 32.29054091 38.91442325]
 [32.46924705 37.8618585  44.34934886 42.01031321 50.15092185]]

array([ 2.99020569, 12.67367194, 24.22156143, 32.29054091, 50.15092185])

#### 70. Consider the vector \[1, 2, 3, 4, 5\], how to build a new vector with 3 consecutive zeros interleaved between each value? (★★★) 
(**hint**: array\[::4\])

In [14]:
A = np.arange(1,6)
Azero = np.zeros(len(A) + (len(A))*3  )
Azero[::4]=A
print(Azero)

[1. 0. 0. 0. 2. 0. 0. 0. 3. 0. 0. 0. 4. 0. 0. 0. 5. 0. 0. 0.]

#### 71. Consider an array of dimension (5,5,3), how to mulitply it by an array with dimensions (5,5)? (★★★) 
(**hint**: array\[:, :, None\])

In [6]:
A = np.random.randint(0,100,size=(5,5,3))
B= np.random.randint(0,100,size=(5,5))
G =A*B[:,:,None]
print(G)
print(G[:,:,0])# Assume your are viewing from side view
print(G.shape)

[[[1566    0 6438]
  [ 264 2244 2409]
  [ 244  136  360]
  [3990 1805 6840]
  [3136 5056 1472]]

 [[2835 7533 6885]
  [ 246   54  186]
  [5841 8910 3267]
  [ 546  372  486]
  [1577 1520 1007]]

 [[4233 3984 1743]
  [   0    0    0]
  [4340 6720 2170]
  [3735 4185 3510]
  [7790 4085  855]]

 [[2010 2479  938]
  [1116 1656 1872]
  [3060 2808 1872]
  [  40  195  390]
  [ 741  364 1287]]

 [[ 280  288  184]
  [3293 7832 1602]
  [3276 1209 2418]
  [5376  168 7980]
  [ 600 1050 2450]]]
[[1566  264  244 3990 3136]
 [2835  246 5841  546 1577]
 [4233    0 4340 3735 7790]
 [2010 1116 3060   40  741]
 [ 280 3293 3276 5376  600]]
(5, 5, 3)

#### 72. How to swap two rows of an array? (★★★) 
(**hint**: array\[\[\]\] = array\[\[\]\])

In [15]:
A = np.arange(25).reshape(5,5)
print(A)
A[[3,4],:] = A[[4,3],:]
print(A)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [20 21 22 23 24]
 [15 16 17 18 19]]

#### 73. Consider a set of 10 triplets describing 10 triangles (with shared vertices), find the set of unique line segments composing all the  triangles (★★★) 
(**hint**: repeat, np.roll, np.sort, view, np.unique)

In [29]:
faces = np.random.randint(0,100,(10,3))
F = np.roll(faces.repeat(2,axis=1),-1,axis=1)
F = F.reshape(len(F)*3,2)
F = np.sort(F,axis=1)

G = F.view( dtype=[('p0',F.dtype),('p1',F.dtype)] ) # Naming column 'p0' and 'p1'
G = np.unique(G)
print(G)
print(G.shape)

[( 0,  1) ( 0, 41) ( 1, 20) ( 1, 41) ( 1, 45) ( 9, 67) ( 9, 73) (11, 12)
 (11, 14) (11, 29) (11, 78) (12, 78) (14, 29) (20, 45) (20, 47) (20, 81)
 (22, 39) (22, 87) (26, 50) (26, 92) (28, 45) (28, 73) (39, 87) (45, 57)
 (45, 59) (45, 73) (47, 81) (50, 92) (57, 59) (67, 73)]
(30,)

In [25]:
F.dtype

dtype('int64')

In [18]:
# Roll
x = np.arange(10)
x2 = np.reshape(x, (2, 5))
print(x2)
print(np.roll(x2, 1, axis=1) )
print(np.roll(x2, -1, axis=1) )

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[4 0 1 2 3]
 [9 5 6 7 8]]
[[1 2 3 4 0]
 [6 7 8 9 5]]

In [20]:
# Repeat
x = np.array([[1,2],[3,4]])
print(np.repeat(x, 3, axis=1))
print(np.repeat(x, 3, axis=1).shape)

[[1 1 1 2 2 2]
 [3 3 3 4 4 4]]
(2, 6)

#### 74. Given an array C that is a bincount, how to produce an array A such that np.bincount(A) == C? (★★★) 
(**hint**: np.repeat)

In [38]:
C = np.bincount([1,1,2,3,4,4,6])
print(C)
A = np.repeat(np.arange(len(C)), C)
print(A)

[0 2 1 1 2 0 1]
[1 1 2 3 4 4 6]

In [42]:
# Repeat
x = np.array([[1,2],[3,4]])
# repeats ,int or array of ints : The number of repetitions for each element. repeats is broadcasted to fit the shape of the given axis.
np.repeat(x, [2, 3], axis=0)

array([[1, 2],
       [1, 2],
       [3, 4],
       [3, 4],
       [3, 4]])

#### 75. How to compute averages using a sliding window over an array? (★★★) 
(**hint**: np.cumsum)

In [57]:
def moving_average(a, n=3) :
    ret = np.cumsum(a, dtype=np.float16)
    ret[n:] = ret[n:] - ret[:-n]
    return ret[n - 1:] / n
Z = np.random.randint(0,15,size = (10,) )
Z.sort()
print(Z)
print(moving_average(Z, n=3))

[ 1  1  2  6  9 10 10 11 12 13]
[ 1.333  3.     5.668  8.336  9.664 10.336 11.    12.   ]

In [62]:
print(Z)
ret  = np.cumsum(Z)
print(ret)
print(ret[3:])
print(ret[:-3])
ret[3:] =ret[3:] - ret[:-3]
print(ret[3:] - ret[:-3])
ret[3 - 1:] / 3

[ 1  1  2  6  9 10 10 11 12 13]
[ 1  2  4 10 19 29 39 50 62 75]
[10 19 29 39 50 62 75]
[ 1  2  4 10 19 29 39]
[ 8 15 21 20 14  8  7]

array([ 1.33333333,  3.        ,  5.66666667,  8.33333333,  9.66666667,
       10.33333333, 11.        , 12.        ])

#### 76. Consider a one-dimensional array Z, build a two-dimensional array whose first row is (Z\[0\],Z\[1\],Z\[2\]) and each subsequent row is  shifted by 1 (last row should be (Z\[-3\],Z\[-2\],Z\[-1\]) (★★★) 
(**hint**: from numpy.lib import stride_tricks)

In [79]:
# Method 1
#https://numpy.org/doc/stable/reference/generated/numpy.lib.stride_tricks.as_strided.html?highlight=stride_tricks
# numpy.lib.stride_tricks.as_strided : Create a view into the array with the given shape and strides.
from numpy.lib import stride_tricks

def rolling(a, window):
    shape = (a.size - window + 1, window)
    strides = (a.strides[0], a.strides[0])
    return stride_tricks.as_strided(a, shape=shape, strides=strides)
Z = rolling(np.arange(10), 3)
print(Z)
"""
# Method 2

Z = np.arange(10)
print(sliding_window_view(Z, window_shape=3))
"""

[[0 1 2]
 [1 2 3]
 [2 3 4]
 [3 4 5]
 [4 5 6]
 [5 6 7]
 [6 7 8]
 [7 8 9]]

'\n# Method 2\n\nZ = np.arange(10)\nprint(sliding_window_view(Z, window_shape=3))\n'

In [76]:
np.arange(10).strides[0]

8

# numpy.matrix.strides
This array is stored in memory as 40 bytes, one after the other (known as a contiguous block of memory). The strides of an array tell us how many bytes we have to skip in memory to move to the next position along a certain axis. For example, we have to skip 4 bytes (1 value) to move to the next column, but 20 bytes (5 values) to get to the same position in the next row. As such, the strides for the array x will be (20, 4).

In [73]:
x = np.array([[0, 1, 2, 3, 4],
              [5, 6, 7, 8, 9]], dtype=np.int32)
x.strides

(20, 4)

#### 77. How to negate a boolean, or to change the sign of a float inplace? (★★★) 
(**hint**: np.logical_not, np.negative)

In [83]:
Z = np.random.randint(0,2,100)
print(Z)
print('Negating a Boolean:\n',np.logical_not(Z, out=Z))

#Z = np.random.uniform(-1.0,1.0,100)
#np.negative(Z, out=Z)

[0 1 1 0 0 1 1 0 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 1 0
 1 1 1 0 0 0 1 0 1 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 1 1 1 1 0 1 0 1 1 1 0 1 1
 0 0 1 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 1 0 1 1 1]
Negating a Boolean:
 [1 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 1 0 0 1 1 0 0 1 1 1 1 0 0 1 1 1 1 1 1 0 1
 0 0 0 1 1 1 0 1 0 1 1 0 0 0 0 1 1 1 1 0 1 0 1 1 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 1 0 1 0 0 1 0 1 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 0]

#### 78. Consider 2 sets of points P0,P1 describing lines (2d) and a point p, how to compute distance from p to each line i  (P0\[i\],P1\[i\])? (★★★)

In [47]:
P0 = np.random.uniform(-10,10,(10,2))
P1 = np.random.uniform(-10,10,(10,2))
p  = np.random.uniform(-10,10,( 1,2))

![image.png]()

We know that the perpendicular distance (d) of a line Ax + By+ C = 0 from a point (x1, y1) is given by

d = |Ax1 + By1 + C|]/ √(A2 + B2)

In [48]:
def distance(P0, P1, p):
    T = P1 - P0
    L = (T**2).sum(axis=1)
    A = T[:,1]
    B = -1*T[:,0] 
    C = (P0[:,1]- P0[:,0])*T[:,0]
    #print('A:',A,'\n','B:',B,'\n','C:',C)
    U = np.abs( p[...,0]*A + p[...,1]*B+ C )/ np.sqrt(L)
    return U

print(distance(P0, P1, p))

[6.34306867 5.19381332 6.54420091 5.98560503 2.43160376 2.33904394
 1.06811399 3.37910388 4.46009996 1.24997508]

#### 79. Consider 2 sets of points P0,P1 describing lines (2d) and a set of points P, how to compute distance from each point j (P\[j\]) to each line i (P0\[i\],P1\[i\])? (★★★)

In [49]:
p  = np.random.uniform(-10,10,( 2,2))

In [50]:
print(np.array([distance(P0,P1,p_i) for p_i in p]))

[[ 4.29233018  0.69617016  5.93177428  0.35679017  3.26116175  6.37068231
   4.60922851 14.45823686  1.96472464 11.17370356]
 [10.97248863  4.65783506  7.67350083 14.51398762 10.929274    5.85792735
   8.49092927  9.46567785 14.11106014  2.36027795]]

#### 80. Consider an arbitrary array, write a function that extract a subpart with a fixed shape and centered on a given element (pad with a `fill` value when necessary) (★★★) 
(**hint**: minimum, maximum)

In [62]:
Z = np.random.randint(0,10,(10,10))
shape = (5,5)
fill  = 0
position = (1,2)

R = np.ones(shape, dtype=Z.dtype)*fill
P  = np.array(list(position)).astype(int)
Rs = np.array(list(R.shape)).astype(int)
Zs = np.array(list(Z.shape)).astype(int)

R_start = np.zeros((len(shape),)).astype(int)
R_stop  = np.array(list(shape)).astype(int)
Z_start = (P-Rs//2)
Z_stop  = (P+Rs//2)+Rs%2

R_start = (R_start - np.minimum(Z_start,0)).tolist()
Z_start = (np.maximum(Z_start,0)).tolist()
R_stop = np.maximum(R_start, (R_stop - np.maximum(Z_stop-Zs,0))).tolist()
Z_stop = (np.minimum(Z_stop,Zs)).tolist()

r = [slice(start,stop) for start,stop in zip(R_start,R_stop)]
z = [slice(start,stop) for start,stop in zip(Z_start,Z_stop)]
R[r] = Z[z]
print(Z)
print(R)

[[8 6 0 2 7 6 9 9 9 2]
 [6 5 9 0 0 4 3 0 0 8]
 [4 3 0 3 9 4 3 5 1 2]
 [5 8 0 3 7 0 8 4 0 7]
 [4 8 6 4 6 4 8 7 6 1]
 [2 8 1 7 2 1 5 5 7 0]
 [6 1 4 1 3 3 2 8 6 4]
 [8 1 2 7 7 6 2 0 1 3]
 [3 1 1 1 7 8 9 2 1 4]
 [6 1 6 2 8 2 5 5 6 1]]
[[0 0 0 0 0]
 [8 6 0 2 7]
 [6 5 9 0 0]
 [4 3 0 3 9]
 [5 8 0 3 7]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.

#### 81. Consider an array Z = \[1,2,3,4,5,6,7,8,9,10,11,12,13,14\], how to generate an array R = \[\[1,2,3,4\], \[2,3,4,5\], \[3,4,5,6\], ..., \[11,12,13,14\]\]? (★★★) 
(**hint**: stride\_tricks.as\_strided)

In [65]:
from numpy.lib import stride_tricks
len = 15
Z = np.arange(1,len,dtype=np.uint32)
stride = Z.strides
R = stride_tricks.as_strided(Z,(11,4),(stride[0],stride[0]))
print(R)

[[ 1  2  3  4]
 [ 2  3  4  5]
 [ 3  4  5  6]
 [ 4  5  6  7]
 [ 5  6  7  8]
 [ 6  7  8  9]
 [ 7  8  9 10]
 [ 8  9 10 11]
 [ 9 10 11 12]
 [10 11 12 13]
 [11 12 13 14]]

#### 82. Compute a matrix rank (★★★) 
(**hint**: np.linalg.svd) (suggestion: np.linalg.svd)

In [4]:

mat = np.random.uniform(0,1,(10,10))
U, S, V = np.linalg.svd(mat) # Singular Value Decomposition
rank = np.sum(S > 1e-10)
print(rank)

# Method 2
rank = np.linalg.matrix_rank(mat)
print(rank)

10
10

#### 83. How to find the most frequent value in an array? 
(**hint**: np.bincount, argmax)

In [13]:

Z = np.random.randint(0,10,50)
count_Z =Z[np.bincount(Z)]
print(count_Z)
print(count_Z.argmax())

[6 4 3 5 6 3 4 3 4 3]
0

In [9]:
A = np.bincount(np.array([0, 1, 1, 3, 2, 1, 7]))
print(A)
print(A.argmax())

[1 3 1 1 0 0 0 1]
1

#### 84. Extract all the contiguous 3x3 blocks from a random 10x10 matrix (★★★) 
(**hint**: stride\_tricks.as\_strided)

In [82]:

Z = np.random.randint(0,5,(10,10))
n = 3
i = 1 + (Z.shape[0]-3)
j = 1 + (Z.shape[1]-3)
C = stride_tricks.as_strided(Z, shape=(i, j, n, n), strides=Z.strides + Z.strides)
print(Z)
#print(C)
print(C.shape)
print(Z.strides)
# Method 2 
"""
from numpy.lib.stride_tricks import sliding_window_view
Z = np.random.randint(0,5,(10,10))
print(sliding_window_view(Z, window_shape=(3, 3)))
"""

[[0 2 4 1 3 1 1 1 1 0]
 [0 0 3 0 0 3 4 0 0 2]
 [4 1 4 1 2 0 3 2 3 1]
 [2 3 4 0 2 4 1 2 2 2]
 [3 3 1 4 4 3 2 2 2 2]
 [2 2 4 0 0 2 3 4 0 3]
 [3 3 0 3 3 3 4 3 3 1]
 [0 4 4 3 3 4 4 2 2 3]
 [2 2 1 3 2 3 1 3 4 4]
 [1 0 4 3 2 1 4 4 1 2]]
(8, 8, 3, 3)
(80, 8)

'\nfrom numpy.lib.stride_tricks import sliding_window_view\nZ = np.random.randint(0,5,(10,10))\nprint(sliding_window_view(Z, window_shape=(3, 3)))\n'

#### 85. Create a 2D array subclass such that Z\[i,j\] == Z\[j,i\] (★★★) 
(**hint**: class method)

In [26]:
class Symetric(np.ndarray):
    def __setitem__(self, index, value):
        i,j = index
        super(Symetric, self).__setitem__((i,j), value)
        super(Symetric, self).__setitem__((j,i), value)

def symetric(Z):
    return np.asarray(Z + Z.T - np.diag(Z.diagonal())).view(Symetric)
mat = np.random.randint(0,10,(6,6))
S = symetric(mat)
print(S)
print(mat)

[[ 7  4 12 13  6  2]
 [ 4  2  7  6 15 13]
 [12  7  6  6 10  6]
 [13  6  6  4  5  5]
 [ 6 15 10  5  3  3]
 [ 2 13  6  5  3  7]]
[[7 1 5 6 1 1]
 [3 2 1 0 9 9]
 [7 6 6 4 5 6]
 [7 6 2 4 4 1]
 [5 6 5 1 3 0]
 [1 4 0 4 3 7]]

In [29]:
np.diag(mat.diagonal())

array([[7, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0],
       [0, 0, 6, 0, 0, 0],
       [0, 0, 0, 4, 0, 0],
       [0, 0, 0, 0, 3, 0],
       [0, 0, 0, 0, 0, 7]])

#### 86. Consider a set of p matrices wich shape (n,n) and a set of p vectors with shape (n,1). How to compute the sum of of the p matrix products at once? (result has shape (n,1)) (★★★) 
(**hint**: np.tensordot)

In [2]:

p, n = 10, 20
M = np.ones((p,n,n))
V = np.ones((p,n,1))
S = np.tensordot(M, V, axes=[[0, 2], [0, 1]])
print(S)

# It works, because:
# M is (p,n,n)
# V is (p,n,1)
# Thus, summing over the paired axes 0 and 0 (of M and V independently),
# and 2 and 1, to remain with a (n,1) vector.

[[200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]
 [200.]]

![image.png]()

In [5]:
# Tensordot product : https://numpy.org/doc/stable/reference/generated/numpy.tensordot.html?highlight=tensordot#numpy.tensordot
a = np.arange(60.).reshape(3,4,5)
b = np.arange(24.).reshape(4,3,2)
c = np.tensordot(a,b, axes=([1,0],[0,1]))
c.shape
print(c)

[[4400. 4730.]
 [4532. 4874.]
 [4664. 5018.]
 [4796. 5162.]
 [4928. 5306.]]

#### 87. Consider a 16x16 array, how to get the block-sum (block size is 4x4)? (★★★) 
(**hint**: np.add.reduceat)

In [11]:

Z = np.ones((16,16))
k = 4
S = np.add.reduceat(np.add.reduceat(Z, np.arange(0, Z.shape[0], k), axis=0),
                                       np.arange(0, Z.shape[1], k), axis=1)
print(S)

# Method 2: 

Z = np.ones((16,16))
k = 4

windows = np.lib.stride_tricks.sliding_window_view(Z, (k, k))
S = windows[::k, ::k].sum(axis=(-2, -1))
print(S)
'''
# Method:3

Z = np.ones((16, 16))
k = 4
print(sliding_window_view(Z, window_shape=(k, k))[::k, ::k].sum(axis=(-2, -1)))
'''

[[16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]]
[[16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]]

'\n# Method:3\n\nZ = np.ones((16, 16))\nk = 4\nprint(sliding_window_view(Z, window_shape=(k, k))[::k, ::k].sum(axis=(-2, -1)))\n'

#### 88. How to implement the Game of Life using numpy arrays? (★★★)

In [12]:
def iterate(Z):
    # Count neighbours
    N = (Z[0:-2,0:-2] + Z[0:-2,1:-1] + Z[0:-2,2:] +
         Z[1:-1,0:-2]                + Z[1:-1,2:] +
         Z[2:  ,0:-2] + Z[2:  ,1:-1] + Z[2:  ,2:])

    # Apply rules
    birth = (N==3) & (Z[1:-1,1:-1]==0)
    survive = ((N==2) | (N==3)) & (Z[1:-1,1:-1]==1)
    Z[...] = 0
    Z[1:-1,1:-1][birth | survive] = 1
    return Z

Z = np.random.randint(0,2,(50,50))
for i in range(100): Z = iterate(Z)
print(Z)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 1 1 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

#### 89. How to get the n largest values of an array (★★★) 
(**hint**: np.argsort | np.argpartition)

In [23]:
Z = np.arange(10000)
np.random.shuffle(Z)
n = 5

# Method 1
print (Z[np.argsort(Z)[-n:]])

#Method 2
# url : https://numpy.org/doc/stable/reference/generated/numpy.argpartition.html?highlight=argpartition#numpy.argpartition
# numpy.argpartition(a, kth, axis=- 1, kind='introselect', order=None)

print (Z[np.argpartition(Z,-n)[-n:]])

[9995 9996 9997 9998 9999]
[9995 9997 9998 9996 9999]

#### 90. Given an arbitrary number of vectors, build the cartesian product (every combinations of every item) (★★★) 
(**hint**: np.indices)

In [24]:
def cartesian(arrays):
    arrays = [np.asarray(a) for a in arrays]
    shape = (len(x) for x in arrays)

    ix = np.indices(shape, dtype=int)
    ix = ix.reshape(len(arrays), -1).T

    for n, arr in enumerate(arrays):
        ix[:, n] = arrays[n][ix[:, n]]

    return ix

print (cartesian(([1, 2, 3], [4, 5], [6, 7])))

[[1 4 6]
 [1 4 7]
 [1 5 6]
 [1 5 7]
 [2 4 6]
 [2 4 7]
 [2 5 6]
 [2 5 7]
 [3 4 6]
 [3 4 7]
 [3 5 6]
 [3 5 7]]

#### 91. How to create a record array from a regular array? (★★★) 
(**hint**: np.core.records.fromarrays)

In [27]:
Z = np.array([("Hello", 2.5, 3),
              ("World", 3.6, 2)])
R = np.core.records.fromarrays(Z.T,
                               names='col1, col2, col3',
                               formats = 'S8, f8, i8')
print(R)

[(b'Hello', 2.5, 3) (b'World', 3.6, 2)]

In [28]:
# Example 
x1=np.array([1,2,3,4])
x2=np.array(['a','dd','xyz','12'])
x3=np.array([1.1,2,3,4])

r = np.core.records.fromarrays([x1,x2,x3],names='a,b,c')
print(r)
print(r[1])

[(1, 'a', 1.1) (2, 'dd', 2. ) (3, 'xyz', 3. ) (4, '12', 4. )]
(2, 'dd', 2.)

#### 92. Consider a large vector Z, compute Z to the power of 3 using 3 different methods (★★★) 
(**hint**: np.power, \*, np.einsum)

In [29]:

x = np.random.rand(int(5e7))

%timeit np.power(x,3)
%timeit x*x*x
%timeit np.einsum('i,i,i->i',x,x,x)

2.11 s ± 7.09 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
58.4 ms ± 1.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
50.8 ms ± 1.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

#### 93. Consider two arrays A and B of shape (8,3) and (2,2). How to find rows of A that contain elements of each row of B regardless of the order of the elements in B? (★★★) 
(**hint**: np.where)

In [52]:
A = np.random.randint(0,5,(8,3))
B = np.random.randint(0,5,(2,2))
# numpy.newaxis : A convenient alias for None, useful for indexing arrays.
C = (A[..., np.newaxis, np.newaxis] == B)
print('C:',C.shape)
# numpy.any : Test whether any array element along a given axis evaluates to True.

rows = np.where(C.any((3,1)).all(1))[0]
print('Matched Row mask: ',C.any((3,1)).all(1))
print('Rows:',rows)

C: (8, 3, 2, 2)
Matched Row mask:  [ True  True False  True  True  True False False]
Rows: [0 1 3 4 5]

#### 94. Considering a 10x3 matrix, extract rows with unequal values (e.g. \[2,2,3\]) (★★★)

In [74]:
mat = np.random.randint(0,5,(10,3))
print('Matrix:\n',mat)
# solution for arrays of all dtypes (including string arrays and record arrays)
E = np.all(mat[:,1:] == mat[:,:-1], axis=1)
print(E)
U = Z[~E]
print(U)
'''
# soluiton for numerical arrays only, will work for any number of columns in Z
U = Z[Z.max(axis=1) != Z.min(axis=1),:]
print(U)
'''

Matrix:
 [[2 4 3]
 [2 3 4]
 [4 1 0]
 [2 1 3]
 [0 3 0]
 [4 4 3]
 [1 4 3]
 [4 0 3]
 [0 0 1]
 [3 4 0]]
[False False False False False False False False False False]
[[4 2 3]
 [2 0 4]
 [3 1 2]
 [2 0 1]
 [1 4 1]
 [4 2 1]
 [0 1 1]
 [3 1 0]
 [0 3 1]
 [0 2 2]]

'\n# soluiton for numerical arrays only, will work for any number of columns in Z\nU = Z[Z.max(axis=1) != Z.min(axis=1),:]\nprint(U)\n'

#### 95. Convert a vector of ints into a matrix binary representation (★★★) 
(**hint**: np.unpackbits)

In [70]:
"""
# Method 1
I = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128])
B = ((I.reshape(-1,1) & (2**np.arange(8))) != 0).astype(int)
print(B[:,::-1]) # sort in reverse with -1 i.e lower to higher 
"""
# Method 2
I = np.array([0, 1, 2, 3, 15, 16, 32, 64, 128], dtype=np.uint8)
print(np.unpackbits(I[:, None], axis=1)) # np.newaxis , its new way of writting None

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 1 1 1 1]
 [0 0 0 1 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0]]

#### 96. Given a two dimensional array, how to extract unique rows? (★★★) 
(**hint**: np.ascontiguousarray)

In [54]:

Z = np.random.randint(0,2,(6,3))
T = np.ascontiguousarray(Z).view(np.dtype((np.void, Z.dtype.itemsize * Z.shape[1])))
_, idx = np.unique(T, return_index=True)
uZ = Z[idx]
print(uZ)

# Author: Andreas Kouzelis
# NumPy >= 1.13
uZ = np.unique(Z, axis=0)
print(uZ)

[[0 0 0]
 [0 0 1]
 [0 1 0]
 [0 1 1]
 [1 1 0]
 [1 1 1]]
[[0 0 0]
 [0 0 1]
 [0 1 0]
 [0 1 1]
 [1 1 0]
 [1 1 1]]

#### 97. Considering 2 vectors A & B, write the einsum equivalent of inner, outer, sum, and mul function (★★★) 
(**hint**: np.einsum)

In [63]:
A = np.random.uniform(0,1,10)
B = np.random.uniform(0,1,10)

print('np.sum(A):\n',np.einsum('i->', A), )      # np.sum(A)
print(' A * B\n',np.einsum('i,i->i', A, B) )# A * B  or Row * Column operation
print('np.inner(A, B)\n',np.einsum('i,i', A, B) ) # np.inner(A, B)
print('np.outer(A, B)\n',np.einsum('i,j->ij', A, B) )  # np.outer(A, B) or Column * Row operation

np.sum(A):
 4.013812621410901
 A * B
 [0.6401637  0.13131209 0.01135852 0.20373774 0.53914594 0.47654309
 0.03788872 0.08389055 0.3654278  0.15936973]
np.inner(A, B)
 2.6488378828095187
np.outer(A, B)
 [[0.6401637  0.33579836 0.6830912  0.37758736 0.77120875 0.51238748
  0.41560919 0.2506753  0.53121413 0.44334944]
 [0.25033247 0.13131209 0.26711903 0.14765345 0.30157691 0.20036629
  0.16252167 0.09802519 0.20772834 0.17336934]
 [0.01064471 0.00558369 0.01135852 0.00627856 0.01282374 0.00852004
  0.0069108  0.00416826 0.00883309 0.00737206]
 [0.34541809 0.18118933 0.36858082 0.20373774 0.41612709 0.27647289
  0.22425347 0.13525882 0.28663133 0.2392215 ]
 [0.44753338 0.23475398 0.47754366 0.26396834 0.53914594 0.35820604
  0.2905491  0.17524512 0.3713676  0.30994209]
 [0.59538065 0.31230738 0.63530513 0.351173   0.71725836 0.47654309
  0.38653499 0.23313915 0.49405271 0.41233465]
 [0.05836008 0.03061282 0.06227353 0.03442249 0.07030671 0.04671145
  0.03788872 0.02285264 0.04842777 0.04041764]
 [0.21423604 0.11237768 0.22860208 0.12636271 0.25809134 0.17147467
  0.13908702 0.08389055 0.17777517 0.14837053]
 [0.44037536 0.23099924 0.46990564 0.25974633 0.53052263 0.35247675
  0.28590194 0.17244218 0.3654278  0.30498476]
 [0.23011807 0.12070861 0.24554911 0.1357304  0.27722451 0.18418666
  0.14939801 0.09010963 0.19095423 0.15936973]]

#### 98. Considering a path described by two vectors (X,Y), how to sample it using equidistant samples (★★★)? 
(**hint**: np.cumsum, np.interp)

In [56]:
phi = np.arange(0, 10*np.pi, 0.1)
a = 1
x = a*phi*np.cos(phi)
y = a*phi*np.sin(phi)

dr = (np.diff(x)**2 + np.diff(y)**2)**.5 # segment lengths
r = np.zeros_like(x)
r[1:] = np.cumsum(dr)                # integrate path
r_int = np.linspace(0, r.max(), 200) # regular spaced path
x_int = np.interp(r_int, r, x)       # integrate path
y_int = np.interp(r_int, r, y)

#### 99. Given an integer n and a 2D array X, select from X the rows which can be interpreted as draws from a multinomial distribution with n degrees, i.e., the rows which only contain integers and which sum to n. (★★★) 
(**hint**: np.logical\_and.reduce, np.mod)

In [57]:
X = np.asarray([[1.0, 0.0, 3.0, 8.0],
                [2.0, 0.0, 1.0, 1.0],
                [1.5, 2.5, 1.0, 0.0]])
n = 4
M = np.logical_and.reduce(np.mod(X, 1) == 0, axis=-1)
M &= (X.sum(axis=-1) == n)
print(X[M])

[[2. 0. 1. 1.]]

#### 100. Compute bootstrapped 95% confidence intervals for the mean of a 1D array X (i.e., resample the elements of an array with replacement N times, compute the mean of each sample, and then compute percentiles over the means). (★★★) 
(**hint**: np.percentile)

In [58]:
X = np.random.randn(100) # random 1D array
N = 1000 # number of bootstrap samples
idx = np.random.randint(0, X.size, (N, X.size))
means = X[idx].mean(axis=1)
confint = np.percentile(means, [2.5, 97.5])
print(confint)

[-0.25711893  0.13710298]